* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --main-color: #e55472;
  --text-color: #010101;
  --2nd-color: #434343;
  --other-color: #666666;
  --big-font: 5rem;
  --h2-font: 2.3rem;
  --p-font: 1.3rem;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 14%;
  transition: all 0.5s ease;
}
header .logo{
  position:relative;
  font-size: 1.5em;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.logo img {
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin: 10px 22px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.h-icons {
  display: flex;
  align-items: center;
}

.h-icons i {
  font-size: 25px;
  color: var(--text-color);
  margin-left: 5px;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.h-icons i:hover {
  transform: translateY(-4px);
  color: var(--main-color);
}

#menu-icon {
  height: 30px;
  width: 30px;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 60px 14% 70px;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(images/img12.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--big-font);
  color: var(--2nd-color);
  line-height: 1.3;
  margin-bottom: 25px;
}

.home-text p {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 33px;
  margin-bottom: 60px;
}

.btn {
  padding: 20px 35px;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: var(--2nd-color);
}
.banner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  gap:2.3rem;
  align-items: center;
}
.banner-img{
  overflow: hidden;
}
.banner-img img{
  display:block;
  transition:transform 0.5s;
  cursor:pointer;
  width: 350px;
  height:350px;
  object-fit: cover;
}
.banner-img:hover img{
transform: scale(1.1);
}
.center-text h2{
  text-align:center;
  font-size: var(--h2-font);
  font-weight: 800;
  color: var(--text-color);
}

.banner2-img{
  overflow: hidden;
}
.banner2-img img{
  display:block;
  transition:transform 0.5s;
  cursor:pointer;
  width: 400px;
  height:400px;
  object-fit: contain;
}
.banner2-img:hover img{
transform: scale(1.1);
}
.new-content{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  gap:2.5rem;
  align-items: center;
  margin-top: 4.5rem;
  text-align: center;
}
.row{
  position: relative;
  cursor: pointer;
}
.row img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 15px;
}
.row h4{
  font-size: 14px;
  margin-bottom:5px ;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.5s ease;
}
.row h4:hover{
  color: var(--main-color);
  cursor: pointer;
}
.row h5{
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 600;
}
.top{
  position: absolute;
  top:20px;
  left:0;
  height: 30px;
  width:60px;
  color: var(--bg-color);
  background-color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  text-transform:uppercase;
  display:inline-flex;
  align-items: center;
  justify-content: center;
}
.row .bbtn a{
  position: absolute;
  bottom: 65px;
  left:0;
  right:0;
  padding:13px;
  background:rgba(0,0,0,0.8);
  color:var(--bg-color);
  transition: opacity 0.5s;
  opacity:0;
}
.row:hover .bbtn a{
  opacity:1;
  background-color: var(--main-color);
}
.footer{
  margin-top: 15px;
}
.foot-panel2{
  background-color: var(--text-color);
  color:var(--main-color);
  height:500px;
  display:flex;
  justify-content: space-evenly;
}
ul{
  margin-top: 20px;
}
ul a{
  display:block;
  font-size: 0.85rem;
  margin-top:10px;
  color:var(--main-color);
}
.foot-panel3{
  background-color: var(--text-color);
  color:var(--main-color);
  border-top: 0.5px solid white;
  height:70px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo{
  background-image: url(amazon_logo.png);
  background-size:cover;
  height:50px;
  width:100px;
}
.foot-panel4{
  background-color:var(--text-color);
  color: var(--main-color);
  height:76px;
  padding-top: 25px;
  text-align: center;
}
.pages{
font-size: 0.7rem;
}
.copy-right{
  padding-top: 5px;
}
